
.collapse {
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    line-height: 0;
}


.collapse img {
    cursor: pointer;
}

.arrow {
    height: 10px;
    width: 20px;
    transition: 0.8s ease-in-out ;
}

.titreCollapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.descriptionCollapse {
    display: block;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 10px;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
}

.descriptionCollapse_hidden {
    opacity: 0%;
}

.arrow--open {
    transform: rotate(180deg);
    transition: 0.8s ease-in-out;
  }

  @keyframes opacity {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@media screen and (min-width: 768px)and (max-width: 900px){
     
    .container-collapses {
        margin: 20px;
    }
}

@media screen and (max-width: 768px){


    .container-collapses {
        margin: 5px;
    }

    .descriptionCollapse_hidden {
        opacity: 0%;
        height: 20px;    
    }
    .collapse img {
        cursor: pointer;
    }
    .descriptionCollapse {
        animation: opacity 1.2s;
        padding: 5% 3% 10% 3%;
        line-height: 22px;
        font-size: 14px;
        border-radius: 0px 0px 10px 10px;
    }

    .titreCollapse {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FF6060;
        color: white;
        padding: 2.5%;
    }


}