.navigation{
    padding: 20px;
    display: flex;
    width: 90%;
    text-decoration: none;
    justify-content: space-between;
}

.navLogo{
    align-items: flex-start;
}


.navbar ul {
    display: flex;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.navbar li {
    padding-left: 20px;
    list-style-type: none;
    text-decoration: none;
}